@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-muted: #e8e8e8;
  --color-black: #0e043e;
  --color-black-90: #2b2654;
  --color-sky: #dbfdf0;
  --color-yellow: #e8f453;
  --color-blue: #e8f0fe;
  --color-pink: #f7c8ff;
  --color-gray: #999999;
  --color-brown: #ffc7ae;
  --color-sea: #c8dcff;
  --color-green: #2cb079;
  --color-red: #f16464;
  --color-tan: #d4a509;
  --color-lightgray: #c0c4cc;
  --color-bggray: #f5f6f7;
  --color-accentblue: #6284f5;
}

body {
  font-family: var(--font-haas-text);
}

@layer base {
  input {
    @apply outline-none focus:outline-none focus-visible:outline-none;
  }
}

@layer components {
  .c-title-text {
    @apply font-title font-bold leading-5 text-black;
  }

  .c-active-border {
    @apply border-gray transition-colors data-[state="active"]:border-black;
  }

  .c-active-shadow {
    @apply shadow-gray transition-shadow data-[state="active"]:shadow-black !important;
  }

  .c-image-shadow {
    @apply rounded-full border border-black shadow-1 shadow-black;
  }

  .c-shadow-btn {
    @apply c-title-text rounded-xl border-2 px-6 py-[16px] shadow-25 transition-all;
  }

  /* btn with active and hover style */
  .c-shadow-translate {
    @apply transition-shadow hover:-translate-x-[0.06rem] hover:-translate-y-[0.06rem] hover:shadow-30 active:translate-x-[0.06rem] active:translate-y-[0.06rem] active:shadow-20;
  }

  .c-shadow-panel {
    @apply c-active-border c-active-shadow box-border rounded-3xl border-2 bg-white p-6 shadow-50;
  }
}
