@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-muted: 210 40% 96.1%;
  --color-black: 250 88% 13%;
  --color-sky: 168 75% 95%;
  --color-yellow: 68 85% 70%;
  --color-blue: 210 85% 97%;
  --color-pink: 300 100% 90%;
  --color-gray: 0 0% 60%;
  /* 
   black: "#0E043E",
   yellow: "#E8F453",
   sky: "#DBFDF0",
   blue: "#E8F0FE",
   pink: "#F7C8FF",
   */
}

body {
  font-family: var(--font-haas-text);
}

@layer components {
  .c-title-text {
    @apply font-title font-bold leading-5 text-black;
  }

  .c-active-border {
    @apply border-gray transition-colors data-[state="active"]:border-black;
  }

  .c-active-shadow {
    @apply shadow-gray transition-shadow data-[state="active"]:shadow-black !important;
  }

  .c-shadow-btn {
    @apply c-title-text rounded-xl border-2 px-6 py-[16px] shadow-25 transition-all;
  }

  /* btn with active and hover style */
  .c-shadow-translate {
    @apply transition-shadow hover:-translate-x-[0.06rem] hover:-translate-y-[0.06rem] hover:shadow-30 active:translate-x-[0.06rem] active:translate-y-[0.06rem] active:shadow-20;
  }

  .c-shadow-panel {
    @apply c-active-border c-active-shadow box-border rounded-3xl border-2 bg-white p-6 shadow-50;
  }
}
